.progress-bar-container {
  position: relative;
  width: 100%;
  height: 100%;

  .progress-bar-progress {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }

  .progress-bar-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 180%;
  }
}
