.progress-bar-container {
  position: relative;
  width: calc(var(--game-width) - 1vh - 100vh / 8);
  height: 100%;

  .progress-bar-progress {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
  }

  .progress-bar-text {
    position: absolute;
    width: calc(var(--game-width) - 1vh - 100vh / 8);
    height: 100%;
    text-align: center;
    line-height: 180%;
    right: 0;
  }

  .progress-bar-text-right {
    position: absolute;
    width: calc(var(--game-width) - 1vh - 100vh / 8);
    height: 100%;
    text-align: right;
    line-height: 180%;
    right: 0;
  }
}
