
#game {
  height: 100vh;
  width: var(--game-width);
  background: #edd6ff;
  margin: auto;
  position: relative;
}

#header {
  display: block;
  width: var(--game-width);
  height: calc(100vh / 6);
  background: #d7a1fa;
  position: relative;
  color: black;
  font-weight: bold;
}

#profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: calc((100vh / 6));
  aspect-ratio: calc(54/64);

  padding: 1vh;
}

#seeds {
  position: absolute;
  top: 3vh;
  left: calc(var(--game-width) / 2);
  transform: translate(-50%, 0);
}

#seeds-per-second {
  position: absolute;
  top: 6vh;
  left: calc(var(--game-width) / 2);
  transform: translate(-50%, 0);
}

#fertilizer {
  position: absolute;
  top: 6vh;
  right: 1vh;
}

#star-dust {
  position: absolute;
  top: 9vh;
  right: 1vh;
}

#settings {
  position: absolute;
  top: 1vh;
  right: 1vh;
}

#navigation {
  position: relative;
  height: 3vh;
  background: #9961c2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  div {
    height: 3vh;
    width: 100%;
    line-height: 3.6vh;
    text-align: center;

    &.active {
      background: #3a7be0;
    }
  }
}

#boosters, #upgrades, #stats {
  text-align: center;
  color: black;
  font-size: 2rem;
  padding-top: 10vh;
}

#plants, #farmers, #character {
  position: absolute;
  top: calc(100vh / 6 + 3vh);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.pfp-display {
  width: 20vh;
  magrin: 1vh;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
