<ion-content [fullscreen]="true">
  <div id="game">

    <div id="header">
      <div id="profile-picture">
        <img src="/assets/pfp-default.png"/>
      </div>
      <div id="currencies">
        <div id="seeds">{{ getSeeds() }} Seeds</div>
        <div id="seeds-per-second">0 Seeds/sec</div>
        <div id="fertilizer">0 Fertilizer</div>
        <div id="star-dust">0 Start Dust</div>
        <div id="settings">Q</div>
      </div>
    </div>
    <div id="navigation">
      <div>Plants</div>
      <div>Farmers</div>
      <div>Boosters</div>
      <div>Upgrades</div>
      <div>Stats</div>
    </div>
    <div id="plants">
      <ng-container *ngFor="let plant of getPlants()">
        <app-plant-container
          [plant]="plant"
          (onBuy)="onBuy(plant)"
        ></app-plant-container>
      </ng-container>
    </div>
  </div>
</ion-content>
